<h3>Edit a product</h3>

<br>

<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :quantity %>

  <% if @product.image.present? >
    <%= image_tag(@product.image.thumb.url) %>
  <% end >

  <%= f.input :image, as: :file %>


  <%= f.submit "Submit" %>
<% end %>
